.allure
.gradle
schema
build


out
.gradletasknamecache
/target/
/target/*
/test-recordings/*

#IDEA Files
.idea/*
/.idea/*
!.idea/vcs.xml
!.idea/icon.png
*.iml
*.ipr

/allure-report/
/*/allure-report/data/*

/allure-results/
/*/allure-results/

/test-recordings/


/trash/
/Logs/*
/Logs/
