.allure
.gradle
schema
build


out
.gradletasknamecache
/target/
/target/*
/test-recordings/*

#IDEA Files
.idea/*
/.idea/*
!.idea/vcs.xml
!.idea/icon.png
*.iml
*.ipr


/*/allure-results/
/*/allure-report/
/test-recordings/


/allure-report/data/attachments/46486cd982626d5d.png
/allure-report/data/test-cases/1dab524deef78727.json
/allure-report/data/test-cases/2a115a6049de5786.json
/allure-report/data/test-cases/6e093b809fa2f5ba.json
/allure-report/data/test-cases/7f2915a34f1d7b94.json
/allure-report/data/test-cases/8e93c07fcaa9dc00.json
/allure-report/data/test-cases/9d70e3fedb9cf514.json
/allure-report/data/test-cases/44dcf48ce4d05d26.json
/allure-report/data/test-cases/31452fe587463f3d.json
/allure-report/data/test-cases/bdabd32bebb41f59.json
/allure-report/data/test-cases/eb34074d68b843fa.json
/allure-report/data/test-cases/fac59f81ea9308ae.json
/allure-report/data/test-cases/fd9ce086bd246abc.json
/allure-report/data/behaviors.csv
/allure-report/data/behaviors.json
/allure-report/data/categories.csv
/allure-report/data/categories.json
/allure-report/data/packages.json
/allure-report/data/suites.csv
/allure-report/data/suites.json
/allure-report/data/timeline.json
/allure-report/export/influxDbData.txt
/allure-report/export/mail.html
/allure-report/export/prometheusData.txt
/allure-report/history/categories-trend.json
/allure-report/history/duration-trend.json
/allure-report/history/history.json
/allure-report/history/history-trend.json
/allure-report/history/retry-trend.json
/allure-report/plugins/behaviors/index.js
/allure-report/plugins/packages/index.js
/allure-report/plugins/screen-diff/index.js
/allure-report/plugins/screen-diff/styles.css
/allure-report/widgets/behaviors.json
/allure-report/widgets/categories.json
/allure-report/widgets/categories-trend.json
/allure-report/widgets/duration.json
/allure-report/widgets/duration-trend.json
/allure-report/widgets/environment.json
/allure-report/widgets/executors.json
/allure-report/widgets/history-trend.json
/allure-report/widgets/launch.json
/allure-report/widgets/retry-trend.json
/allure-report/widgets/severity.json
/allure-report/widgets/status-chart.json
/allure-report/widgets/suites.json
/allure-report/widgets/summary.json
/allure-report/app.js
/allure-report/favicon.ico
/allure-report/index.html
/allure-report/styles.css
